/* css reset */
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  /* parts recommend form the MDN articles  */
  button,
  input,
  select,
  textarea {
    font-family: inherit;
    font-size: 100%;
  }

input,
textarea,
select,
button {
  width: 150px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

  /* end of the reset */


body {
  background-color: rgb(118, 202, 174);
}

.board {
  display: grid;
  height: 450px;
  width: 450px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: white;
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: center;
  justify-self: center;
  justify-items: center;
}

.board > button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 4rem;
  background: rgb(231, 231, 220);
  cursor: pointer;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 4fr 1fr;
  justify-content: center;
  align-content: center;
}

.turn {
  grid-column: 1/4;
  grid-row: 1/2;
  align-self: center;
  justify-self: center;
}

.cell-00 {
  border: none;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
}

.cell-01 {
  border: none;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
}

.cell-02 {
  border: none;
  border-bottom: 5px solid black;
}

.cell-10 {
  border: none;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
}

.cell-11 {
  border: none;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
}

.cell-12 {
  border: none;
  border-bottom: 5px solid black;
}

.cell-20 {
  border: none;
  border-right: 5px solid black;
}

.cell-21 {
  border: none;
  border-right: 5px solid black;
}

.cell-22 {
  border: none;
}

#playerOneContainer {
  justify-self: center;
}

#playerTwoContainer {
  justify-self: center;
}

#container2 {
  justify-self: center;
  align-self: center;
  grid-column: 1/4;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.P1 {
  display: inline-block;
  min-width: 100px;
}

.P2 {
  display: inline-block;
  min-width: 100px;
}

.ties {
  display: inline-block;
  min-width: 100px;
}

#scores {
  align-self: center;
}
